html 	{
    margin: 1em auto 1em auto;
    /*Chrome hack to print background colors: */
    -webkit-print-color-adjust:exact;   
	}
body {
    color: #333;
	font: 12pt/1.4em Helvetica, 'Lucida Grande', 'Gill Sans', Verdana;
}
.header h1 {
    font-weight: normal;
    font-size: 50px; 
    margin: 0 15px 0 0;
    display: inline;
    }
.header img {
    width: 80px;
    margin: 0;
    vertical-align: bottom;
    border: 0px solid black;
}
.codes {
    margin: 0.5em 0em 2em 0em;
}
h2, h3 {
	font-weight: 600;  
    }
h2:before {
    content: '>';
    margin-left: -1em;
    padding-right: 0.4em;
    color: #ccc;
}
a:link, a:visited {
    font-weight: normal;
    text-decoration: none; 
    color: royalblue;
    }
a[href]:hover, a:active { text-decoration: underline;}  
em {
    font-weight: bold;
    font-style: normal;
}
textarea, code, pre { 
    font: 10pt/1.4em 'Consolas', 'Menlo',  monospace!important; 
    }
tt  { font-weight: 900; }
