<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Invoice #MyFirstInvoice</title>
  <link rel="stylesheet" href="lib/bootstrap-3.3.6/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="css/style_basic.css" type="text/css" />
</head>
<body>
  <div class="header">
    <h1>INVOICE</h1>

    <p class="codes">
      Code: #MyFirstInvoice &nbsp;/&nbsp; 
      Issued: 2016-04-30 &nbsp;/&nbsp;
      Due: 2016-05-01
    </p>
  </div>

  <h2>Parties</h2>
  <table class="table table-condensed">
  <thead>
    <tr><th>From</th><th>To</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>Bumptious Q. Bangwhistle <br/>1 Queen St, Auckland 1001</td>
      <td>Wingnut <br/> 2 Victoria St, Auckland 1001</td>
    </tr>
  </tbody>
  </table>

  <h2>Service</h2>
  <table border="0" class="dataframe table table-condensed">
  <thead>
    <tr style="text-align: right;">
      <th>Start date</th>
      <th>End date</th>
      <th>Time spent (h)</th>
      <th>Rate (NZD/h)</th>
      <th>Cost (NZD)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2016-03-28</td>
      <td>2016-04-03</td>
      <td>0.00</td>
      <td>fixed fee</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>2016-03-28</td>
      <td>2016-04-03</td>
      <td>4.00</td>
      <td>30</td>
      <td>120.0</td>
    </tr>
    <tr>
      <td>2016-04-04</td>
      <td>2016-04-10</td>
      <td>0.00</td>
      <td>fixed fee</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>2016-04-04</td>
      <td>2016-04-10</td>
      <td>10.00</td>
      <td>30</td>
      <td>300.0</td>
    </tr>
    <tr>
      <td>2016-04-04</td>
      <td>2016-04-10</td>
      <td>3.08</td>
      <td>60</td>
      <td>185.0</td>
    </tr>
    <tr>
      <td>2016-04-11</td>
      <td>2016-04-17</td>
      <td>0.00</td>
      <td>fixed fee</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>2016-04-11</td>
      <td>2016-04-17</td>
      <td>10.00</td>
      <td>30</td>
      <td>300.0</td>
    </tr>
    <tr>
      <td>2016-04-11</td>
      <td>2016-04-17</td>
      <td>5.00</td>
      <td>60</td>
      <td>300.0</td>
    </tr>
    <tr>
      <td>2016-04-11</td>
      <td>2016-04-17</td>
      <td>7.00</td>
      <td>90</td>
      <td>630.0</td>
    </tr>
    <tr>
      <td>2016-04-11</td>
      <td>2016-04-17</td>
      <td>3.92</td>
      <td>180</td>
      <td>705.0</td>
    </tr>
  </tbody>
</table>

  <h2>Payment</h2>
  <p>By the due date above, please direct deposit the total into my bank account at

    Bumptious Q. Bangwhistle, 
    Bingo Bank, 
    1234-56-789, 
    reference #MyFirstInvoice.

  Overdue balances will be charged an additional 1% per day.</p>

  <h2>Thank You!</h2>
  <p>If you have any questions, feel free to email me at <a class="reference external" href="mailto:hello@bangwhistle.net">hello@bangwhistle.net</a>.</p>

</body>